/*-----------------------------  TopBanner.js -----------------------------------*/

.topFixedBanner {
  background-image: url(../image/banner.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.topBannerOverlay{
  position: absolute;
  min-height: 600px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
}

.topContent{
  margin-top: 10rem;
}

.topTitle {
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: white;
}

.topSubTitle {
  font-family: "Raleway",sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

/*-----------------------------  Services.js -----------------------------------*/

.componentTitle{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0073E6;
  font-size: 28px;
}

.serviceTitle{
  margin-top: 1rem;
  font-size: 22px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.serviceDescription{
  color: #7F7E7E;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.serviceCard{
  margin: 5px 5px 5px 5px;
  padding: 60px 30px 60px 30px;
  height: 22rem;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}

.serviceCard:hover{
  box-shadow: 0 0 8px 0 rgba(0,115,230,0.2);
}

/*-----------------------------  TopNavigation.js -----------------------------------*/

/*----------------- CSS rules before scrolling -------------*/
.navTitle{
  font-family: 'Montserreat',sans-serif;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 24px;
}

.navItem{
  font-size: 16px;
  text-decoration: none !important;
  font-family: 'Montserreat',sans-serif;
  font-weight: 400;
  color: #ffffff !important;
}

.navBackground{
  -webkit-transition:background-color 400ms linear ;
  -moz-transition:background-color 400ms linear ;
  -o-transition:background-color 400ms linear ;
  transition:background-color 400ms linear ;
  background-color: rgba(00,00,00,0.0) !important;
}

/*----------------- CSS rules after scrolling -------------*/
.navTitleScroll{
  font-family: 'Montserreat',sans-serif;
  color: #0073E6 !important;
  font-weight: 700;
  font-size: 24px;
}

.navItemScroll{
  font-size: 16px;
  text-decoration: none !important;
  font-family: 'Montserreat',sans-serif;
  font-weight: 400;
  color: #000000 !important;
}

.navBackgroundScroll{
  -webkit-transition:background-color 400ms linear ;
  -moz-transition:background-color 400ms linear ;
  -o-transition:background-color 400ms linear ;
  transition:background-color 400ms linear ;
  background-color: #ffffff !important;
}

/*-----------------------------  Analysis.js -----------------------------------*/

.article{
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #9892A4;
  text-align: justify;
}

/*-----------------------------  Summary.js -----------------------------------*/

/*--------------Summary Section Background---------------*/
.SummarySection{
  margin-top: 5rem;
}

.SummaryBanner {
  background-image: url(../image/SummaryBanner.jpg);
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.SummaryBannerOverlay{
  position: absolute;
  min-height: 350px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
}

/*--------------'Bootstrap card' section---------------*/
.SummaryCard{
  width: 18rem;
  padding: 10px 10px 10px 10px;
  margin-top: 14%;
  /*margin-top: 5rem;*/
}

.cardTitle{
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  font-family: 'Raleway',sans-serif;
}

.cardSubTitle{
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  font-family: 'Montserreat',sans-serif;
}

.iconBullet{
  color: #0073E6;
  font-size: 15px;
}

/*--------------'Count up' section---------------*/
.countSection{
  margin-top: 16%;
}

.countNumber{
  color: #ffffff;
  font-family: 'Montserreat',sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.countTitle{
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  font-size: 22px;
}

/*-----------------------------  RecentProjects.js -----------------------------------*/

.projectCard{
  margin: 2px 2px 2px 2px;
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  width: 100%;
}

.projectCard:hover{
  box-shadow: 0 0 12px 0 rgba(0,115,230,0.2);
}

.projectCardImg{
  max-height: 229px;
}

.projectCardTitle{
  font-family: 'Montserreat',sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.projectCardSubtitle{
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/*-----------------------------  Courses.js -----------------------------------*/
.courseRow{
  margin-bottom: 20px;
}

/*--------------Image section---------------*/
.courseImg{
  width: 100%;
}

/*--------------Text section---------------*/
.courseTitle{
  font-family: 'Montserreat',sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.courseSubtitle{
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.courseDetailsLink{
  color: #0073E6;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/*--------------Link section---------------*/
.courseDetailsLink:hover{
  text-decoration: none;
}

/*-----------------------------  Video.js -----------------------------------*/
.videoCard{
  box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
  padding: 6rem 3rem 6rem 3rem;
  background-color: #ffffff;
  margin: 50px auto;
}

.videoTitle{
  color: #0073E6;
  font-family: 'Montserreat',sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.videoSubtitle{
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.playBtn{
  color: #0073E6;
  font-size: 48px;
  cursor: pointer;
}


